body {
  background-color: #031c30;
  margin: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  z-index: 1000;
  color: white;
  background-color: black;
}

.container {
  display: flex;
  margin-top: 35px;
  height: calc(100vh - 60px);
}

/* ---------------------- */
/* 사이드바 기본 접힘 상태 */
/* ---------------------- */
.sidebar {
  width: 70px;
  background-color: #031c30;
  border-right: 1px solid #333;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 10px;
  transition: 0.3s;
  overflow: hidden;
}

/* 마우스 올리면 펼쳐짐 */
.sidebar:hover {
  width: 240px;
}

/* 로고 */
.sidebar_logo {
  display: flex;
  justify-content: center;
  /* margin-bottom: 30px; */
}

.sidebar_logo img {
  width: 40px;
  cursor: pointer;
}

/* 메뉴 */
.sidebar_menu {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* 메뉴 아이템 */
.menu_item {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: white;
  font-size: 1rem;
  padding: 12px;
  border-radius: 10px;
  transition: 0.2s;
}

.menu_item:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/* 아이콘은 항상 보이게 */
.icon {
  font-size: 1.2rem;
  min-width: 30px;
  text-align: center;
}

/* 글자는 기본적으로 숨김 */
.text {
  opacity: 0;
  white-space: nowrap;
  transition: 0.2s;
}

/* hover 시 글자 보이기 */
.sidebar:hover .text {
  opacity: 1;
}

/* 아래 영역 */
.sidebar_bottom {
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: white;
}

.darkmode {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px;
  border-radius: 10px;
}

/* 버튼 */
.login_btn {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background-color: #0d3b66;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.login_btn:hover {
  background-color: #155d9c;
}

/* 가운데 메인 */
.main_content {
  flex: 1;
  background-color: #031c30;
}

/* 오른쪽 친구창 */
.friends {
  width: 20%;
  min-width: 250px;
  border-left: 1px solid #333;
  background-color: #031c30;
}
